inputs_def:
  - handle: session_id
    description: "%request-id-from-nano-banana-edit-to-retrieve-results%"
    json_schema:
      type: string
    nullable: false
  - group: Polling Options
    collapsed: true
  - handle: poll_interval
    description: "%seconds-between-polling-attempts%"
    json_schema:
      type: integer
    value:
    nullable: true
  - handle: max_attempts
    description: "%maximum-polling-attempts-before-timeout%"
    json_schema:
      type: integer
    value:
    nullable: true

outputs_def:
  - handle: images
    description: "%array-of-urls-to-the-successfully-edited-images%"
    json_schema:
      type: array
      items:
        type: string

executor:
  name: python
  options:
    entry: __init__.py
    spawn: false

title: "%nano-banana-get-result%"
icon: ":carbon:document-download:"
description: "%polls-and-retrieves-edited-images-using-request-id-from-nano-ban%"
private: true
